* {  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
}
body {
    height: 100vh; 
    background-color: #0B0C10;
}
nav {
    display: grid;
    position: sticky;
    top:0;
    overflow: hidden;

    height: 100px;
    border-bottom: 1px solid black;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    background-color: #0B0C10;
    color: #66FCF1;
}
.title {
    justify-self: center;
}
.add-button {
    margin-top: 10px;
    justify-self: center;
}
.addBook{
    color: #66FCF1;
    border: 1px solid #66FCF1;

}
.icon {
    justify-self: center;
    align-self:end;
}
h1 {
    font-size: 46px;
    text-shadow: #66FCF1 0 0 4px ;
}
.books-section {
    display: grid;

    margin-top: 100px;
    margin-left:150px;

    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 400px);
    grid-auto-rows: 400px;
    column-gap:150px;
    row-gap: 100px;
}

.addBook {
    width: 140px;
    height: 50px;

    color: #66FCF1;
    border: 1px solid #66FCF1;
    background: none;
    border-radius: 8px;
    
}
.addBook:hover {
    box-shadow: 0 0 4px 2px #66FCF1;
    text-shadow: #66FCF1 0 0 10px ;
}


.book {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

}
.book:hover {
    box-shadow: 0 0 20px 15px #66FCF1;
}
.button-section{
    justify-self: center;
    align-self: center;

    display: flex;
    width: 100%;
    justify-content: space-around;
}
.heading-section {
    justify-self: center;
    align-self: center;
    text-align: center;

}


#remove {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    background-image: url(./imgs/close-box-outline.svg);
}
#remove:hover {
    background-image: url(./imgs/hover-close.svg);
}
.read {
    width: 50px;
    height: 48px;
    border: none;
    background: none;
    background-image: url(./imgs/read.svg);
}
.read:hover {
    background-image: url(./imgs/read-hover.svg);
}




#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.popup-box {
    background: #fff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 450px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}
#add-book {
    display: flex;
    flex-direction: column;
}
.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#popup-overlay.show {
    display: flex;
    opacity: 1;
}
.submit, .close {
    border-radius: 60px;
    width: 100px;
    height: 40px;
    background: none;
}
.submit {
    margin-bottom: 30px;
}

.inner-layer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.back{
  transform: rotateY(180deg);
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-size: 18px;
}
.left-side, .right-side {
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 80px);
}
.front{
    display: grid;
    grid-template-rows: 4fr 1fr;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
